[plugin]
name="Godot Shader Studio"
description="Visual node-based shader editor for Godot 4. Compiles to .gdshader via a custom shader language."
author="slice-soft"
; x-release-please-start-version
version="0.8.0"
; x-release-please-end-version
script="plugin.gd"
